body{
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
}
h1 {
    color: rgb(255, 217, 0);
    text-align: center;
}
h2{
    color: rgb(255, 0, 0);
text-align: center;
}
table ,th, tr ,td {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
  }